@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* BODY----------------------------------------------------------------------------------------- */
/* Navigation */
nav {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    position: sticky;
    top: 0;
}

nav h1{
    padding: -20px;
    font-size: 20px;
    margin-right: 336px;
    margin-left: 0px;
}

nav .onglets{
    display: flex;
    flex-wrap:wrap;
}

nav .onglets a, 
nav .onglets p{
    font-size: 20px;
    margin-right: 35px;
    cursor:pointer;
    text-decoration: none;
    color: black;
    justify-content: rigth; 
    position: relative;
    top: -4px;
}
  
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;
}

nav .onglets a {
    text-decoration: none;
    position: relative;
    top: 16px;
}

nav .favoris p{
    top: 32px;
}

#cart-icon{
  position: relative;
  font-size: 1.3rem;
  cursor: pointer;
  margin-top: 20px;
}

#cart-icon[data-quantitiy]::after{
  contain: "";
}

#cart-icon[data-quantitiy]::after{
  content: "";
  position: absolute;
  top: -9px;
  right: -12px;
  width: 20px;
  height: 20px;
  background: #B2F5D5;
  border-radius: 50%;
  color: #333;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

#poubelle {
  margin-top: -50px;
  font-size: 20px;
  color: #0f1011;
  cursor: pointer;
}

.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  background: #f2f2f2;
  box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 9999;
}

.cart.active {
  right: 0;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.title_cart{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid;
}

.total-titre{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.total-prix{
  font-size: 1.075rem;
  margin: 1rem 0 0 0.7rem;
}

.btn-acheter{
  display: flex;
  justify-content: center;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 2rem;
  background: #000;
  color: #f0f0f0;
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
}

#porte{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 20px;
  color:#7e7e7e;
  cursor: pointer;
}

.cart-boite{
  display: grid;
  grid-template-columns: 35% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cart-product-title, .cart-prix{
  margin-left: 30px;
  
}

.cart-product-title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.cart-prix {
  font-weight: 500;
}

.cart-quantitiy {
  border: 1px solid #000;
  outline-color: #000;
  width: 2.8rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
}





/* ------------------------------------------------------------------------------------------------- */
/* HEADER */
/* petite barre */

.contact {
    display: flex;
    justify-content: right;
    padding: 8px;
    margin-right: 35px;
    cursor: pointer;
    font-size: 14px;
    background-color: #f2f2f2;
    gap: 20px;
    background: text;
    
  }
  
  .contact a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    
  }  
  
  .contact a:first-child::before {
    content: ""; /* Supprime la barre "|" avant le premier lien */
  }
  
  .contact a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact a:hover::after {
    transform: scaleX(1);
  }
  
/* vidéo */
header .street {
    width: 100%;
    height: auto;
}

/* titre + bouton */
header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

header h1{
    font-size: 70px;    
    text-align:center;
    font-family: Impact, fantasy;

}

header p{
    font-size: 20px;
    margin-top: -10px;
}

header button{
    padding: 15px 20px;
    font-size: 20px;
    border:none;
    border-radius: 30px;
    outline:none;
    cursor:pointer;
    background-color: #000;
    color: #f2f2f2;
}

/* Photo pour décorer la page */
.photo_deco{
  display: flex;
  margin-top: 11px;
  gap: 11px;
}


/* ------------------------------------------------------------------------------------------------ */
/* SECTION */

/* Image pour aller dans les autres pages */
.image-shop {
    display: flex;
    object-fit: cover;
    object-position: center;
    gap: 50px;
    margin-top: 100px;
    justify-content: center; 
    align-items: center;
}

.image-shop a {
    position: relative;
    display: inline-block;
}

.image-shop a img {
    transition: filter 0.3s ease;
}

.image-shop a:hover img {
    filter: brightness(50%);
}

/* Petite phrase en dessous des liens photos */
.phrase{
    color: #C0BFC2;
    text-align: center;
}

 /* Inscription à la Newsletter*/
  .newsletter{
    background: url(bg.jpg) no-repeat center;
    padding: 60px 40px;
    text-align: center;
    color: rgb(7, 6, 6);
    background-color: #f2f2f2;
    margin-top: 60px;
  }
  .newsletter p {
    max-width: 900px;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-top: -10px;
    color: #333;
  }

  .newsletter h1 {
    font-size: 30px;
  }

  .email{
    height: 40px;
    justify-content: center;
    display: flex; 
    margin-top: 70px;
  }

  .email i{
    background: #090a0b;
    width: 40px;
    line-height: 40px;

  }
  .tbox,.btn{
    border: none;
    outline: none;
  }

  .tbox{
    width: 0px;
    transition: 0.6s;
  }

  .email:hover > .tbox,.tbox:focus{
    width: 260px;
  }

  .btn{
    background: #0f1011;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
  }
  
  /* Phrase de fin de section */
  .marque{
    
  }

  /* Boites articles */
  .boites{
    display:flex;
    flex-wrap:wrap;
    margin-left: 52px;
    gap: 35px;
  }

  .boite:hover {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .boites .boite{
    margin-right: 20px;
    cursor:pointer;
  }

  .boites .boite img{
    width: 350px;
  }

  .boites .boite .boite-head{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  .boites .boite .boite-body p{
    margin-top: -10px;
  }

  .ajout-panier{
    background: #B2F5D5;
    position: absolute;
    bottom: -204px;
    right: 10px;
    color: #000;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 860px;
  }

  .ajout-panier:hover{
    background: hsl(240, 20%, 99%);
  }

  .ajout-panier2{
    background: #B2F5D5;
    position: absolute;
    bottom: -204px;
    right: 10px;
    color: #000;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 455px;
  }

  .ajout-panier2:hover{
    background: hsl(240, 20%, 99%);
  }

  .ajout-panier3{
    background: #B2F5D5;
    position: absolute;
    bottom: -204px;
    right: 10px;
    color: #000;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 50px;
  }

  .ajout-panier3:hover{
    background: hsl(240, 20%, 99%);
  }

  

  



















/* ------------------------------------------------------------------------------------------------- */
/* FOOTER */
footer {
    margin-top: 100px;
    background-color: #000;
    padding: 30px;
    color: #7e7e7e;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  footer .social-media{
    display: flex;
  }

  footer .social-media p{
    margin-right: 15px;
    border: 1px solid #7e7e7e;
    border-radius: 100%;
    padding: 5px;
    text-align:center;
    width: 20px;
    cursor:pointer;
  }

/* ---------------------------------------------------------------------------------------------- */
/* NOUS REJOINDRE */
  body {
    /*background: linear-gradient(to right, #474b4b, #565e61, #9fadb3);*/
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}













/* ----------------------------------------------------------------------------------------------- */
/* Page Succes et Echec */
.succes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.succes img {
  width: 200px;
  margin: 2rem 0;
}

.succes h1 {
  font-size: 60px;
}

.succes p{
  margin-top: -20px;
}

.bouton {
  padding: 12px 20px;
  border-radius: 2rem;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  background: #f2f2f2;
  text-decoration: none;

}














/*footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}
footer a {
    text-decoration: none;
    color: black;
}*/
