body {
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* BODY----------------------------------------------------------------------------------------- */
/* Navigation */
nav {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    position: sticky;
    top: 0;
}

nav h1{
    padding: -20px;
    font-size: 20px;
    margin-right: 390px;
    margin-left: 0px;
}

nav .onglets{
    display: flex;
    flex-wrap:wrap;
}

nav .onglets a, 
nav .onglets p{
    font-size: 20px;
    margin-right: 35px;
    cursor:pointer;
    text-decoration: none;
    color: black;
    justify-content: rigth; 
    position: relative;
    top: -4px;
}
  
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;
}

nav .onglets a {
    text-decoration: none;
    position: relative;
    top: 16px;
}

nav .favoris p{
    top: 32px;
}

/* ------------------------------------------------------------------------------------------------- */
/* header */

header .contact {
    font-size: 14px;
    background-color: #f2f2f2;
}

.contact {
    display: flex;
    justify-content: right;
    padding: 8px;
    margin-right: 35px;
  }
  
  .link {
    font-size: 14px;
    margin: 0 10px;
    
  }
  
  .link:not(:last-child)::after {
    content: "|";
    margin-left: 13px;
    margin-right: 0px;
    color: black;
  }
  





header .street {
    width: 1263px;
    height: auto;
}















/*footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}
footer a {
    text-decoration: none;
    color: black;
}*/
