body {
    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* BODY----------------------------------------------------------------------------------------- */
/* Navigation */
nav {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    position: sticky;
    top: 0;
}

nav h1{
    padding: -20px;
    font-size: 20px;
    margin-right: 390px;
    margin-left: 0px;
}

nav .onglets{
    display: flex;
    flex-wrap:wrap;
}

nav .onglets a, 
nav .onglets p{
    font-size: 20px;
    margin-right: 35px;
    cursor:pointer;
    text-decoration: none;
    color: black;
    justify-content: rigth; 
    position: relative;
    top: -4px;
}
  
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;
}

nav .onglets a {
    text-decoration: none;
    position: relative;
    top: 16px;
}

nav .favoris p{
    top: 32px;
}

/* ------------------------------------------------------------------------------------------------- */
/* HEADER */
/* petite barre */

.contact {
    display: flex;
    justify-content: right;
    padding: 8px;
    margin-right: 35px;
    cursor: pointer;
    font-size: 14px;
    background-color: #f2f2f2;
    gap: 20px; /* Ajoute un espace de 10 pixels entre les liens */
  }
  
  .contact a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    position: relative;
  }
  
  .contact a::before {
    content: "|";
    position: absolute;
    left: -15px; /* Ajustez la position de la barre verticale */
  }
  
  .contact a:first-child::before {
    content: ""; /* Supprime la barre "|" avant le premier lien */
  }
  
  .contact a:hover {
    color: #FF0000;
  }
  
  .contact a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact a:hover::after {
    transform: scaleX(1);
  }
  
  
  
/* vidéo */
header .street {
    width: 100%;
    height: auto;
}

/* titre + bouton */
header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

header h1{
    font-size: 70px;    
    text-align:center;
    font-family: Impact, fantasy;

}

header button{
    padding: 15px 20px;
    font-size: 20px;
    border:none;
    border-radius: 30px;
    outline:none;
    cursor:pointer;
}

/* ------------------------------------------------------------------------------------------------- */
/* FOOTER */
footer {
    margin-top: 100px;
    background-color: #000;
    padding: 30px;
    color: #7e7e7e;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  footer .social-media{
    display: flex;
  }

  footer .social-media p{
    margin-right: 15px;
    border: 1px solid #7e7e7e;
    border-radius: 100%;
    padding: 5px;
    text-align:center;
    width: 20px;
    cursor:pointer;
  }

/* ---------------------------------------------------------------------------------------------- */
/* NOUS REJOINDRE */
  body {
    /*background: linear-gradient(to right, #474b4b, #565e61, #9fadb3);*/
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
    cursor:pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
















/*footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}
footer a {
    text-decoration: none;
    color: black;
}*/
